@tailwind base;
@tailwind components;
@layer components {
  .btn-bid {
    @apply bg-black
      text-white
      font-semibold
      py-2 px-4
      rounded-lg
      shadow-lg
      border-2 border-green-500
      hover:border-green-600
      focus:outline-none
      focus:ring-4 focus:ring-offset-2 focus:ring-green-300
      transition ease-in-out duration-150;
  }

  @layer components {
    .btn-place-bid {
      @apply bg-black
        text-white
        px-4 py-2
        rounded-md
        mt-4
        w-full
        font-semibold
        shadow-md
        focus:outline-none
        transition ease-in-out duration-150
        hover:ring-4 hover:ring-offset-2 hover:ring-blue-500;
    }
  }

  @layer components {
    .btn-more-info {
      @apply bg-gray-500
        text-white
        px-4 py-2
        rounded-md
        mt-4
        w-full
        font-semibold
        shadow-md
        focus:outline-none
        transition ease-in-out duration-150
        hover:ring-4 hover:ring-offset-2 hover:ring-blue-500;
    }
  }
}
@tailwind utilities;
